body{
	width: 80%;
	margin: auto auto;
}

form{
	margin:20px; 
	padding:40px; 
	background:#f5f5f5;
	font-size: 20px;
}
label{
	float:left; 
	min-width:120px;
	/*border: 10px solid black;*/
}

button, input[type = 'submit'], input[type = 'clear']{
	background:green; 
	color:white; 
	padding:10px 20px; 
	border:solid 1px green; 
	border-radius:5px;
}

