*{
    margin:0px;
    padding: 0px;
}

.container{
    margin-left: 40%;
}

h1{
    margin-top: 5rem;
}

div{
    margin: 0px;
    padding: 0px;
}

tr,td, table{
    margin: 0px;
    padding: 0px;
}

table{
    border: 1px solid hotpink;
}

.cube-black{
    background-color: black;
    width: 30px;
    height: 30px;
}

.cube-white{
    background-color: white;
    width: 30px;
    height: 30px;
}

