html{
    font-size:10px;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}
body{
    width:600px;
    margin:0 auto;
    background-color: lightgrey;
    padding: 0 20px 20px 20px;
}
h1{
    font-size: 50px;
    text-align: center;
    margin:0;
    padding:20px 0;
    color:#00639F;
}
p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img{
    display:block;
    margin:0 auto;
}