body{
    background-image: linear-gradient(#de6262, #ffb88c);
}

.main{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
    width: 60%;
    margin: auto auto;
    text-align: center;
    border-radius: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;
    background-image: linear-gradient(140deg, #f7bb97, #dd5e89);
}

form.addform{
	margin:20px;
	padding:40px;
	background:transparent;
}


label{float:left;
	min-width:120px;
}

button{
	background:green;
	color:white;
	padding:10px 20px;
	border:solid 1px green;
	border-radius:5px;
}

table{
	border-collapse: collapse;
}

ol li{
	margin-bottom:15px;
}

a{
    margin: 15px;
    color: black;
    display: block;
    float: left;
    text-decoration: none;
    padding: 20px 25px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
}

a:hover {
    color: white;
    box-shadow: inset 0px 33px 25px 0 #ff9966,
                inset 0 66px 15px 0px #ff5e62;
    border-radius: 20px;
}

.error{
    color: red;
    font-size: 20px;
}

.success{
    color: green;
    font-size: 20px;
}

input[type = submit]{
    background:green;
    color:white;
    padding:10px 20px;
    border:solid 1px green;
    border-radius:5px;
}

